Dependencies/Assembly-CSharp.dll
Dependencies/UnityEngine.dll
Sources/obj/*
GameData/TextureReplacer/Plugins/*
Unity/Bundles/*
Unity/Library/*
Unity/Temp/*
Unity/Unity.CSharp.csproj
Unity/Unity.sln
*.suo
GameData/TextureReplacerReplaced/Plugins/Assembly-CSharp-firstpass.dll
GameData/TextureReplacerReplaced/Plugins/Assembly-CSharp.dll
*.dll
GameData/TextureReplacerReplaced/Plugins/UnityEngine.xml